*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/app/src.zip
*.log
/log.txt
/vuln.txt
/.idea/copilot.data.migration.agent.xml
/.idea/planningMode.xml
